<div class="card card-block">
  <h4 class="card-title"><%= review.title %></h4>
  <h6 class="card-subtitle text-muted"><%= review.username %> on <%= review.review_date %></h6>
  <div class="card-text">
    <%= review.description %>
  </div>
</div>
